﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GIC :: Manivannan Nagarajan</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />


</head>
<body ng-app="bidApp" ng-controller="bidControl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GIC   </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">



            </div>
        </div>
    </nav>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">Create Bid</h2>
        <div class="alert alert-dismissible alert-info" ng-show="alertMessage">
            <p> {{alertMessage}}</p>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal" ng-submit="addBid()">
                <fieldset>

                    <div class="form-group">
                        <label for="inputBidName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" autofocus class="form-control" id="inputBidName" ng-model="BidName" required="true" placeholder="Name of the Bid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBidAmount" class="col-lg-2 control-label">Amount</label>
                        <div class="col-lg-10">
                            <input type="number" class="form-control" id="inputBidAmount" ng-model="BidAmount" required="true" min="1" max="100000" placeholder="Bid Amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBidRemarks" class="col-lg-2 control-label">Remarks</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="inputBidRemarks" ng-model="BidRemarks"></textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default" ng-click="ResetForm()">Reset</button>
                            <button type="submit" class="btn btn-primary" ng-submit>Create</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="row placeholders">

        </div>

        <h2 class="sub-header">Submitted Bids</h2>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
        </div>
        <div class="form-group">
            <span class="help-block">{{(bids | filter:searchText).length}} record(s) found</span>

        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="orderByMe('BidName')">Name</th>
                        <th ng-click="orderByMe('BidAmount')">Bid Amount</th>
                        <th ng-click="orderByMe('BidRemarks')">Remarks</th>
                        <th ng-click="orderByMe('Timestamp')">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in bids| filter:searchText | orderBy:predicate:reverse ">
                        <td>{{ x.BidName}}</td>
                        <td>{{ x.BidAmount}}</td>
                        <td>{{ x.BidRemarks}}</td>
                        <td>{{ x.Timestamp.slice(6, -2) | date:'dd/MM/yyyy hh:mm:ss ' }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <div class="row placeholders">
            <i> Submitted by Manivannan Nagarajan.</i>
        </div>
    </footer>

    <script src="Scripts/app.js"></script>
   
</body>
</html>
